.p-drawer-menu {
  max-width: myrem(520);
  width: 100%;
  height: 100vh;
  margin-left: auto;
  background-color: rgba($color: #222, $alpha: 0.95);
  z-index: 100;
  text-align: center;
  display: none;
}

.p-drawer-menu__logo {
  padding-top: myrem(180);
  width: myrem(42.15);
  margin: 0 auto;
}

.p-drawer-menu__items {
  margin-top: myrem(20);
}

.p-drawer-menu__item a {
  font-family: $ft-sub;
  font-weight: 880;
  text-transform: uppercase;
  font-size: myrem(20);
  color: #fff;
  display: block;
  width: 100%;
  letter-spacing: 0.068;
  text-decoration: none;
  padding: myrem(15) 0;
  line-height: 1;
}



