.p-sub-mv {
  position: relative;
  height: myrem(449);
  z-index: -100;
  @include mq(tab) {
    height: myrem(464);
  }
}

.p-sub-mv::after {
  position: absolute;
  content: "";
  height: myrem(449);
  width: 52.8%;
  background: #222;
  top: 0;
  right: 0;
  z-index: -10;
  @include mq(tab) {
    height: myrem(464);
    width: 54%;
  }
}

.p-sub-mv__img {
  position: absolute;
  content: "";
  height: myrem(387);
  width: 76.5%;
  object-fit: cover;
  object-position: top;
  top: 0;
  left: 0;
  z-index: -9;
  @include mq(tab) {
    width: 76.3%;
  }
}

.p-sub-mv__img::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.34);
  object-fit: cover;
  object-position: top;
  top: 0;
  left: 0;
}

.p-sub-mv__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.p-sub-mv__block {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: myrem(10);
  @include mq(tab) {
    right: myrem(194);
  }
  @include mq('lg') {
    right: myrem(80);
  }
}

.p-sub-mv__subtitle {
  font-size: myrem(16);
  letter-spacing: 0.063em;
  font-weight: bold;
  margin-top: myrem(10);
  @include mq(tab) {
    font-size: myrem(20);
  }
}

.p-sub-mv__title {
  font-size: myrem(52);
  font-weight: 800;
  letter-spacing: 0.063em;
  font-family: $ft-sub;
  line-height: (53 / 56);
  @include mq(tab) {
    font-size: myrem(72);
  }
}

