.l-top-about {
  margin-top: myrem(78);
  @include mq(tab) {
    max-width: myrem(1100);
    padding: 0 myrem(20);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: myrem(120);
  }
}